@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap')


body{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

/*=========NAVBAR=========*/
.navbar-brand {
	padding-left: 25px;
	width: ;
}

.navbar{
	top: 0;
	position: sticky;
	z-index: 10;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a{
	color: black !important;
	float: right;

}

.nav-link {
	font-weight: 400;
	font-size: 28px;
	line-height: 42px;
	margin-right: 25px;
}
.navbar-toggler {
	margin-right: 25px;
}

/*=========HERO=========*/
#hero {
	background-color: #232C6D;
	width: 100%;
	align-items: center;
}

.hero-items {
	padding: 65px 0px;
	/*margin: 0px;*/
	align-items: center;
}

.hero-items .row {
	width: 100%;
}

.hero-tagline {
	color: #fff;
	/*background-color: green;*/

}

.hero-line {
	font-size: 96px;
	font-weight: 700;
	line-height: 113px;
	letter-spacing: 8px;
	font-style: Bold;
	margin-left: 25px;
}

.hero-subline {
	margin-left: 25px;
	font-weight: 300;
	font-size: 48px;
	line-height: 56px;
}

.hero-img {
	margin: 0px;
}
.hero-img img{
	height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
}

.btn {
	height: 65px;
	width: 250px;
	margin: 20px;
}

.action-btns {
	margin-left: 25px;
	/*spacing: 0px;*/
	
}

.action-btns a {
	font-size: 26px;
	letter-spacing: 0.1em;
	line-height: 42px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.primary-btn {
	background-color: #fff;
	box-shadow: 0px 0px 4px 5px rgba(76, 84, 139, 1);
	margin-left: 0px;
	color: #232C6D;
	margin-left: 0px;
}

.secondary-btn {
	background-color: #232C6D;
	box-shadow: 0px 0px 10px 5px rgba(76, 84, 139, 1);
	color: #fff;
	margin-left: 0px;
}

/*=========SERVICES========*/
#services {
	/*margin: 25px;*/
	align-items: center;
}

#services .container {
	padding: 0;
	align-content: center;
}

#services .sub-section-services {
	/*margin: 25px 0px;*/
	width: 100%;
}

#services .sub-heading {
	color: #232C6D;
	font-size: 52px;
	font-weight: 700;
	max-width: 550px;
	letter-spacing: 0em;
	text-align: left;
	/*margin: 20px 0px;*/

}

.services-img-div {
	max-width: 600px;
	padding: 0;
	box-shadow: 10px 15px 15px 7px rgba(0, 0, 0, 0.25);
	border-radius: 121px;		
}

.services-img-div img {
	width: 100%;
}

#services-it-pic-div{
	box-shadow: none;
	border-radius: none;
}

#services-it-pic-div img{
	box-shadow: 10px 15px 15px 7px rgba(0, 0, 0, 0.25);
	border-radius: 121px;
}

#services-covid-pic-div img{
	width: 90%;
	border-radius: 121px;
	position: relative;
	bottom: -10px;
    right: -30px;
}

.services-right-text {
	/*margin: 0px 35px;*/
    max-width: 600px;
}

.services-right-text .sub-heading {
	width: 450px;
}

.services-left-text {
	max-width: 550px;
	padding: 0px;
	/*margin-right: 65px;*/
	/*border: red solid 5px;*/
}

/* ===============ABOUT US=========== */
#about-us {
	background-color: #232C6D;
	padding: 25px 0px;
	color: #fff;
}

#about-us .container {
	max-width: 900px;
}

#our-values-pic {
	max-width: 850px;
	height: 400px;
}

#our-timeline-pic {
	max-width: 950px;
}

#our-clients {
	background-color: #232C6D;
	padding: 30px 0px;
	color: #fff;
}

.client-logo {
	/*max-width: 100%;*/
	/*max-height: 200px;*/
	/*width: 100%;*/
}

.our-clients-container {
	margin: 25px 80px;
}

.our-clients-container .row {
	width: 100%;
	padding: 20px 0px;
}

/* =============CONTACT US================== */

#contact-us {
	background-color: #fff;
	padding: 25px 0px;
	
}

#contact-us .sub-heading {
	color: #232C6D;
}

